@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --btnFont:16px;
  --primaryColor:#F26457;
  --text1:#2E8C83;
  --text2:#05F2AF;
  --dateFont:12px;
}

header{
  text-align: center;
  margin: 20px 0px;
}
header h2{
  margin:10px 0px
}
header hr{
  height: 5px;
  width: 100px;
  background:var(--primaryColor);
  border:none;
  margin:0 auto;
  border-radius: 20px;
}

main{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
main .btn-box{
  margin-right:20px
}
main .btn-box button{
  display: block;
  margin-right: 20px;
  margin-bottom:50px;
  font-size: var(--btnFont);
  border:none;
  background:none;
  padding-bottom: 10px;
  
}
main .btn-box button:hover{
  border-bottom: 2px solid var(--primaryColor);
}
.active{
  color:var(--primaryColor);
}

h4,h5{
  margin-bottom: 15px;
}
h5{
  background:var(--primaryColor);
  padding: 5px 10px;
  color:#fff;
  width: auto;
}

.duty-text{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.duty-text p{
  margin-left: 20px;
}